@model __NAMESPACE_PREFIX__.__PROJECT_NAME__.Models.ConfigurationModel

@{
    Layout = "_ConfigurePlugin";
}

@await Component.InvokeAsync("StoreScopeConfiguration")
<form asp-controller="Widgets__PROJECT_NAME__" asp-action="Configure" method="post">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                @T("Plugins.Widgets.__PROJECT_NAME__.Picture1")
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @*<nop-override-store-checkbox asp-for="Picture1Id_OverrideForStore" asp-input="Picture1Id" asp-store-scope="@Model.ActiveStoreScopeConfiguration" />
                        <nop-label asp-for="Picture1Id" />*@
                    </div>
                    <div class="col-md-9">
                        @*<nop-editor asp-for="Picture1Id" />
                        <span asp-validation-for="Picture1Id"></span>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>